body {
    background-color: #6060602e;
}

.heading {
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    font-size: xx-large;
    text-align: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    text-shadow: 1px 1px 2px #d3d3d3;

}

.project {
    display: inline-grid;
    grid-template-columns: 30vw 30vw 30vw;
    gap: 20px 30px;
    padding: 40px;
    text-align: center;
    height: auto;
}



@media (min-width:200px) {
    .project {
        grid-template-columns: repeat(1, 1fr);
      
    }

}

@media (min-width:900px) {
    .project {
        grid-template-columns: repeat(3, 1fr);
     
    }

}

.project1 {
    background-color: #ffffff;
    padding: 20px;

}

.taskn {
    font-family: 'Times New Roman', Times, serif;



}

.project-img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
}

.project-img:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.title {
    font-weight: bolder;
    font-size: 27px;
    color: #003ae9;


}

.src:hover,
.live:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.src ,
.live {
    display: flex;
    align-items: center;
    appearance: none;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 30px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding: 15px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 16px;
    margin: 10px 30px;

}

.src:focus ,
.live:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.src:active,
.live:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}