.heading {
  /* color: rgb(0, 122, 108); */
  color: #000000;

  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


body {
  /* background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB); */
  background-repeat: no-repeat;

}

.info{
  display: inline-grid;
  grid-template-columns: 30vw 30vw 30vw ;
  gap: 20px 30px;
  padding: 0px;
  text-align:right;
  height: auto;

}

.details{
  background-color: #000000;
  /* grid-row-start: 2;
  grid-row-end: 2 ; */
} 

@media (min-width:200px) {
  .info {
      grid-template-columns: repeat(1, 1fr);
    
  }

}

@media (min-width:900px) {
  .info {
      grid-template-columns: repeat(3, 1fr);
   
  }

}

