HTML {
  background-image: url("back-img.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  background-size: cover;
}


.title {
  text-align: center;
  text-shadow: 2px 2px 4px #7e7e7e;
  font-size: 6vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
}

h6 {
  text-align: center;
  text-shadow: 2px 2px 4px #7e7e7e;
  font-size: 4vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
}

body {
  margin: 5%;
}

video {
  display: inline-block;
  width: 100%;
}

.caption {
  text-align: center;
  font-size: 17px;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: black;
}

.tribute-data {
  background-color: rgba(65, 64, 64, 0.515);
  box-shadow: 8px 8px 8px #7e7e7e;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 25px 25px;
  margin-right: 13px;
  margin-top: 50px;
  text-align: justify;
  color: #ffffff;

}


.about {
  margin-left: 12%;
}

footer {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-align: center;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}